@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}


/* 360 image slider */
.custom-hotspot {
  border: none !important;
  background: none !important;
  transition: none !important;
  cursor: pointer !important;
}

.custom-hotspot::before {
  background-image: url(/images/panorama/pano_spot.png) !important;
  background-color: transparent !important;
  background-size: 26px !important;
  box-shadow: none !important;
  animation: none !important;
  border: none !important;
  cursor: pointer !important;
}

.cloudimage-360-hotspot-popup {
  display: none !important;
}

/*.cloudimage-360 canvas {*/
/*  width: auto !important;*/
/*  max-height: 100vh !important;*/
/*  margin: 0 auto;*/
/*}*/
